@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-6">
        @if (Model.FlattenedNodes.Count > 0)
        {
            <form method="post" asp-page-handler="BuildJsonObject" asp-antiforgery="false">
                @{
                    for (int i = 0; i < Model.FlattenedNodes.Count; i++)
                    {
                        var node = Model.FlattenedNodes[i];
                        var marginVal = (node.Level * 20);
                        var margin = marginVal.ToString() + "px";


                        var id = node.Key + "_" + i;

                        <div class="form-inline mb-1">
                            <input type="hidden" name="FlattenedNodes[@i].Key" value="@node.Key" />
                            <input type="hidden" name="FlattenedNodes[@i].ValueKind" value="@node.ValueKind" />
                            <input type="hidden" name="FlattenedNodes[@i].Level" value="@node.Level" />
                            <input type="hidden" name="FlattenedNodes[@i].ID" value="@node.ID" />
                            <input type="hidden" name="FlattenedNodes[@i].ParentID" value="@node.ParentID" />

                            @switch (node.ValueKind)
                            {
                                case System.Text.Json.JsonValueKind.Object:
                                case System.Text.Json.JsonValueKind.Array:
                                    <h5 style="margin-left: @margin">@node.Key</h5>
                                    break;
                                case System.Text.Json.JsonValueKind.String:
                                    <label for="@id" style="margin-left: @margin" class="mr-1">@node.Key</label>
                                    <input type="text" class="form-control" name="FlattenedNodes[@i].StringValue" value="@node.StringValue" id="@id" />
                                    break;
                                case System.Text.Json.JsonValueKind.Number:
                                    <label for="@id" style="margin-left: @margin" class="mr-1">@node.Key</label>
                                    <input type="number" step="any" class="form-control" name="FlattenedNodes[@i].StringValue" value="@node.StringValue" id="@id" />
                                    break;
                                case System.Text.Json.JsonValueKind.True:
                                case System.Text.Json.JsonValueKind.False:
                                    <label for="@id" style="margin-left: @margin" class="mr-1">@node.Key</label>
                                    <input type="checkbox" class="form-control" name="FlattenedNodes[@i].StringValue"
                                           checked="@(node.StringValue.ToString() == "True")"
                                           value="True" id="@id" />
                                    <input name="FlattenedNodes[@i].StringValue" type="hidden" value="False">
                                    break;
                                case System.Text.Json.JsonValueKind.Null:
                                case System.Text.Json.JsonValueKind.Undefined:
                                    <label for="@id" style="margin-left: @margin" class="mr-1">@node.Key</label>
                                    break;
                            }

                        </div>
                    }
                    <button type="submit" class="btn btn-primary">Update</button>
                }
            </form>
        }
    </div>
    <div class="col-md-6">
        <div class="form-group mb-2">
            <form method="get">
                <select class="form-control" asp-items="Model.JsonSamplesSelect"
                        asp-for="SelectedSampleId" onchange="this.form.submit()">
                    <option value="0">---Select Sample---</option>
                </select>
            </form>
            <form asp-page-handler="BuildJsonTree" method="post">
                <div class="form-group mb-2">
                    <textarea class="form-control mt-1 mb-1" id="txtJson"
                              placeholder="Enter JSON here..."
                              name="UserJson"
                              style="min-height:280px;min-width:300px">@Model.UserJson</textarea>

                    <button class="btn btn-outline-primary" type="submit">Load</button>
                    <div class="form-group float-right">
                        <a href="javascript:beautifyJson(4);" style="text-decoration: none;">Beautify</a>
                        <a href="javascript:beautifyJson(0);" style="text-decoration: none;"><small>Minify</small></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    beautifyJson(4);

    function beautifyJson(n) {
        var jsonVal = document.getElementById('txtJson').value;
        if (jsonVal) {
            var jsonStr = jsonVal.trim();
            var jsonObj = JSON.parse(jsonStr);
            var beautifiedJson = JSON.stringify(jsonObj, null, n).trim();// stringify with n spaces at each level
            document.getElementById('txtJson').value = beautifiedJson;
        }
    }
</script>